body{
    background-image: linear-gradient( to right, skyblue,aqua )
}

h2{
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 30px 0;
}

.inputBox{
    width: 450px;
}

.mainContainer{
    display: flex;
    justify-content: center;
}

.parentContainer{
    background-color: white;
    border-radius: 7px;
    width: 250px;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanTag{
    text-decoration: line-through;
}

.trashIcon{
    color: #ff0044;
    cursor: pointer;
}


.textContainer{

    cursor: pointer;
}

.quantity{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}